$clr-primary-cyan:#2ab2af;
$clr-secondary-byellow:#c0df34;
$clr-neutral-gray:#e5eff5;
$clr-neutral-gblue:#98a6bd;
$clr-primary-white:#ffff;
$clr-light-cyan:#4fccc8;

$ff: 'Karla', cursive;

$fw-regular:400;
$fw-bold:700;
$fw-light:200;
$fw-lightz:300;
